* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    scroll-behavior: smooth;
    height: 100%;
    margin: 0;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #4D6A55;
    background-size: cover;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    width: 100%;
    height: 65px;
    box-sizing: border-box;
}

header nav {
    display: flex;
    padding: 20px 0;
    z-index: 1;
    justify-content: center;
}

.menu .timkiem {
    position: relative;
}

nav .menu {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
    align-items: center;
    justify-content: space-between;
}

#input-search {
    display: inline-block;
    justify-content: center;
    width: 795px;
    height: 30px;
    flex-shrink: 0;
    background: #FFF;
}


#search-btn {
    position: absolute;
    width: 50px;
    height: 30px;
    right: 1px;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    cursor: pointer;
    padding: 0;
    background-color: #4D6A55;
}

.menu .component div a {
    display: block;
    text-decoration: none;
    color: #FFF;
    text-align: center;
    font-family: Lato;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    justify-content: center;
}

.menu .component {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;

}

footer nav {
    position: absolute;
    top: 225%;
    background-size: cover;
    background: #51705A;
    width: 100%;
    height: 450px;
    flex-shrink: 0;
    font-family: "Lato", sans-serif;
    bottom: 0;
}


.divider {
    border-left: 3px solid white;
    height: 400px;
    margin: 0 20px;
}

footer nav {
    display: flex;
}

nav .footerleft {
    top: 10%;
    position: absolute;
    left: 5%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-right: 30%;

}

nav .line {

    stroke-width: 3px;
    stroke: #FFF;

}

nav .thongtinlogo p {
    width: 361px;
    height: 84px;
    flex-shrink: 0;
    color: #FFF;
    font-size: 17px;
    font-style: normal;
    text-align: left;
}

nav .top {
    margin-top: 1%;
    display: flex;
    font-family: "Lato", sans-serif;
    gap: 50px;
}

nav .foodterright a {
    text-decoration: none;
    list-style: none;
    color: #FFF;
    font-family: "Lato";
    font-size: 15px;
    font-style: normal;
}

nav .thongtin {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    font-family: "Lato", sans-serif;
}

nav .diachi,
nav .gmail,
nav .sodienthoai {
    display: flex;
    gap: 10px;
}

.hotro,
.dichvu {

    display: grid;
    grid-template-rows: repeat(2, 0fr);
    gap: 30px;
}

.hotro p,
.dichvu p {
    color: #FFF;
    font-family: "Lato", sans-serif;
    font-size: 25px;
    font-style: normal;
}

.hotro ul,
.dichvu ul {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    gap: 20px;
}

.hotro ul a li,
.dichvu ul a li {
    width: 250px;
    display: flex;
    color: #FFF;
    font-family: "Lato", sans-serif;
    font-size: 15px;
}

nav .foodterright {

    position: absolute;
    top: 10%;
    left: 30%;
    height: 20px;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    text-align: left;
    justify-content: left;
}

.hinhanhdoitaclienket {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 20px;
}

.doitaclienket {
    display: grid;
    grid-template-columns: repeat(1, 2fr);
    gap: 25px;
    margin-left: 8%;
}

.doitaclienket p {
    display: flex;
    width: 227px;
    height: 30px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #FFF;
    font-family: "Lato", sans-serif;
    font-size: 25px;
    font-style: normal;
    text-align: center;
    margin-left: 20%;
}

.partners {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    justify-items: center;
}

.partners img {
    max-width: 150px;
    height: auto;
    background-color: white;
    padding: 10px;

}

.vnpay {
    width: 170px;
    height: auto;
    flex-shrink: 0;
    background: #FFF;
    text-align: center;
}

.lienhe .lienhe1 {
    display: flex;
    width: 150px;
    height: 30px;
    flex-direction: column;
    color: #FFF;
    font-family: Lato;
    font-size: 25px;
    font-style: normal;
    margin-bottom: 20px;

}

.sodienthoai p,
.gmail p,
.diachi p {
    color: #FFF;
    font-family: Lato;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.hotro {
    position: static;
    margin-left: 3%;
}

.sodienthoai {
    margin-left: 15%;
}

section {
    height: 100%;
    flex-grow: 1;
}

.anhleft {
    margin-left: 38%;
}

.anhright {
    margin-left: 35%;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
}

section {
    margin: 20px auto;
    padding: 20px;
    background-color: #E9F1EC;
    width: 90%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.flash-sale .sale-items,
.manga .items,
.light-novel .items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.item {
    background-color: #E9F1EC;
    padding: 10px;
    text-align: center;
    width: 22%;
    margin-bottom: 20px;
}

.item h3 {
    margin: 10px 0;
    font-size: 18px;
}

.item p {
    margin: 10px 0;
    font-size: 16px;
    color: #333;
}

.old-price {
    text-decoration: line-through;
    color: red;
}

button {
    background-color: #6e8540;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #5b7132;
}

.icon-menu {
    border-radius: 10px;
    background: #E9F1EC;
    padding: 20px 0;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.icon-menu .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.icon-item {
    text-align: center;
}

.icon-item img {
    width: 40px;
    /* Kích thước của icon */
    height: 40px;
    margin-bottom: 10px;
}

.icon-item p {
    font-size: 14px;
    color: #39573c;
    font-weight: 500;
}

.iconlightnovel,
.iconmanga,
.iconflashsale {
    display: flex;
}

.countdown {
    display: flex;
    margin-left: 5%;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 20px;
    background: #4D6A55;
    width: 360px;
    height: 45px;
    flex-shrink: 0;
}

.countdown h3 {
    margin-top: 10px;
    margin-left: 30px;
    color: #FFF;
    text-align: center;
    font-family: "Lato", sans-serif;
    font-size: 19px;
    font-style: normal;
}

#countdown-timer {
    margin-top: 12px;
    margin-left: 10px;
    font-size: 20px;
    color: #000000;
}

#countdown-timer span {
    margin: 0 5px;
    font-weight: bold;
}

.flash-sale h2,
.manga h2 {
    display: flex;
    width: 120px;
    height: 44px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #4D6A55;
    text-align: center;
    font-family: "Lato", sans-serif;
    font-size: 24px;
    font-style: normal;
}

.light-novel h2 {
    margin-left: 2%;
    color: #4D6A55;
    text-align: left;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
}

.light-novel,
.manga,
.flash-sale {
    text-align: center;
}

.light-novel button,
.manga button,
.flash-sale button {
    background-color: #51705A;
}

.xemthem {
    border-radius: 5px;
    color: #FFF;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}